<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper"> 
	<select id="getIngredientCount" resultType="_int">
		select count(*)
		from ingredient
		<if test="searchText != null">
			<if test='searchType == "name"'>
				where ingredient_name like '%${searchText}%'
			</if>
		</if>
	</select>
	
	<select id="selectIngredientList" resultMap="ingredientResultSet">
		select *
		from (select * 
			  from ingredient
			  order by ingredient_no desc) 
		<if test="searchText != null">
			<if test='searchType == "name"'>
				where ingredient_name like '%${searchText}%'
			</if>
		</if>
	</select>
	
	<select id="selectProduct" resultMap="productResultSet">
		select *
		from product
		where product_no = #{pNo} 
	</select>

	<select id="selectIngredient" resultMap="ingredientResultSet">
		select *
		from ingredient
		where ingredient_no = #{igdNo}
	</select>
	
	<update id="updateIngredient">
		update ingredient
		set ingredient_name = #{ingredientName},
			ingredient_type = #{ingredientType},
			ingredient_content = #{ingredientContent},
			<if test="productNo != 0">
				product_no = #{productNo},
			</if>
			is_accept = #{isAccept}
		where ingredient_no = #{ingredientNo}
	</update>
	
	<update id="updateProduct">
		update product
		set product_price = #{productPrice},
		<if test="productOption != '' ">
			product_option = #{productOption},
		</if>
			product_stock = #{productStock},
			product_modify_date = sysdate,
			product_sale = #{productSale},
			product_status = #{productStatus}
		where product_no = #{productNo} 
	</update>

	<insert id="insertProduct">
		insert into product(product_no, product_type, product_price, product_option, product_stock, 
			product_create_date, product_modify_date, product_sale, product_count, product_status)
		values(seq_product_no.nextval, #{productType}, #{productPrice},
<!-- 		<if test="productOption != null "> -->
		#{productOption}, 
<!-- 		</if>  -->
<!-- 		<if test="productOption == null "> -->
<!-- 		default, -->
<!-- 		</if>  -->
		#{productStock}, sysdate, sysdate, #{productSale}, default, default)
	</insert>
	
	<insert id="insertIngredient">
		insert into ingredient
		values(seq_ingredient_no.nextval, 
		<if test='productStatus == "Y"'>
			(select max(product_no)
			 from product
			 where product_type = 3),
		</if>
		<if test='productStatus != "Y"'>
			0,
		</if>
		#{ingredientName}, #{ingredientType}, #{ingredientContent}, #{isAccept}, #{usersNo}, #{ingredientStatus})   
	</insert>	
	
	<select id="getNowIngredientNo" resultType="_int">
		select seq_ingredient_no.currval
		from dual
	</select>
	
	<select id="getNowProductNo" resultType="_int">
		select seq_product_no.currval
		from dual
	</select>
	
	<update id="ingredientUpdateIsAccept">
		update ingredient
		set is_accept = #{isAccept}
		where ingredient_no = #{ingredientNo} 
	</update>
	
	<update id="updateStatus">
		update product
		set product_status = #{dataStatus}
		where product_type = #{dataType} 
			  and product_no = #{dataNo}
	</update>
	
	
	<insert id="insertImage">
		insert into image(image_no, image_divide_no, image_type, image_originalname, image_renamename, image_path, image_level)
		values(seq_image_no.nextval, #{imageDivideNo}, #{imageType}, #{imageOriginalName}, #{imageRenameName}, #{imagePath}, #{imageLevel})
	</insert>
	
	<select id="selectImage" resultMap="imageResultSet">
		select *
		from image
		where image_divide_no = #{imageDivideNo} and image_type = #{imageType}
	</select>
	
	<delete id="deleteImage">
		delete image
		where image_type = #{imageType} and image_divide_no = ${imageDivideNo} 
	</delete>
	
	<delete id="deletesProduct">
		delete product
		where product_no in
		<foreach item="item" index="i" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<delete id="deletesIngredient">
		delete ingredient
		where ingredient_no in
		<foreach item="item" index="i" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<insert id="insertFood">
		insert into food(product_no, food_name, food_kind, food_type, food_content)
		values(#{productNo}, #{foodName}, #{foodKind}, #{foodType}, #{foodContent})
	</insert>
	
	<select id="getNowFoodNo" resultType="_int">
		select max(product_no)
		from food
	</select>
	
	<resultMap type="Ingredient" id="ingredientResultSet">
		<id column="INGREDIENT_NO" property="ingredientNo"/>
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="INGREDIENT_NAME" property="ingredientName"/>
		<result column="INGREDIENT_TYPE" property="ingredientType"/>
		<result column="INGREDIENT_CONTENT" property="ingredientContent"/>
		<result column="IS_ACCEPT" property="isAccept"/>
		<result column="USERS_NO" property="usersNo"/>
		<result column="INGREDIENT_STATUS" property="ingredientStatus"/>
	</resultMap>
	
	<resultMap type="Product" id="productResultSet">
		<id column="PRODUCT_NO" property="productNo"/>
		<result column="PRODUCT_TYPE" property="productType"/>
		<result column="PRODUCT_PRICE" property="productPrice"/>
		<result column="PRODUCT_OPTION" property="productOption"/>
		<result column="PRODUCT_STOCK" property="productStock"/>
		<result column="PRODUCT_CREATE_DATE" property="productCreateDate"/>
		<result column="PRODUCT_MODIFY_DATE" property="productModifyDate"/>
		<result column="PRODUCT_SALE" property="productSale"/>
		<result column="PRODUCT_COUNT" property="productCount"/>
		<result column="PRODUCT_STATUS" property="productStatus"/>
	</resultMap>
	
	<resultMap type="Image" id="imageResultSet">
		<id column="image_no" property="imageNo"/>
		<result column="image_divide_no" property="imageDivideNo"/>
		<result column="image_type" property="imageType"/>
		<result column="image_originalname" property="imageOriginalName"/>
		<result column="image_renamename" property="imageRenameName"/>
		<result column="imgae_path" property="imagePath"/>
	</resultMap>
	
	
	
	
</mapper>