<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper"> 
	<insert id="insertProduct">
		insert into product
		values(seq_product_no.nextval, #{productType}, #{productPrice}, #{productOption}, #{productStock}, sysdate, sysdate, #{productSale}, default, default)
	</insert>
	
	<insert id="insertIngredient">
		insert into ingredient
		values(seq_ingredient_no.nextval, 
		<if test='productStatus == "Y"'>
			(select max(product_no)
			 from product
			 where product_type = 3),
		</if>
		<if test='productStatus != "Y"'>
			0,
		</if>
		#{ingredientName}, #{ingredientType}, #{ingredientContent}, #{isAccept}, #{usersNo}, #{ingredientStatus})   
	</insert>	
	
	<select id="getNowIngredientNo" resultType="_int">
		select seq_ingredient_no.currval
		from dual
	</select>
	
	<insert id="insertImage">
		insert into image
		values(seq_image_no.nextval, #{imageDivideNo}, #{imageType}, #{imageOriginalName}, #{imageRenameName}, #{imagePath})
	</insert>
	
</mapper>