<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

<!-- 	<select id="getFreeBoardListCount" resultType="_int"> -->
<!-- 		select count(*) -->
<!-- 		from board -->
<!--                 join users using(users_no) -->
<!-- 		where board_type = 0 and board_status = 'Y' -->
<!-- 	</select> -->

<!-- 	<select id="freeBoardView" resultMap="BoardResultSet"> -->
<!-- 		select * -->
<!-- 		from board -->
<!--                 join users using(users_no) -->
<!-- 		where board_type = 0 and board_status = 'Y' -->
<!-- 		order by board_date desc -->
<!-- 	</select> -->
	
	
	<resultMap id="BoardResultSet" type="Board">
		<id column="BOARD_NO" property="boardNo"/>
		<result column="USERS_NO" property="usersNo"/>
		<result column="NICKNAME" property="nickName"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="BOARD_DATE" property="boardDate"/>
		<result column="BOARD_STATUS" property="boardStatus"/>
		<result column="BOARD_TYPE" property="boardType"/>
		<result column="BOARD_COUNT" property="boardCount"/>
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="ORDER_NO" property="orderNo"/>
		<result column="REVIEW_NO" property="reviewNo"/>
		<result column="REVIEW_TITLE" property="reviewTitle"/>
		<result column="REVIEW_CONTENT" property="reviewContent"/>
		<result column="REVIEW_SCORE" property="reviewScore"/>
		<result column="REVIEW_STATUS" property="reviewStatus"/>
		<result column="REVIEW_DATE" property="reviewDate"/>
		<result column="REVIEW_WRITER" property="reviewWriter"/>
	</resultMap>
	<resultMap type="Review" id="reviewResultSet">
		<id column="review_No" property="reviewNo"/>
		<result column="orderNo" property="orderNo" />
		<result column="review_no" property="reviewNo" />
		<result column="review_title" property="reviewTitle" />
		<result column="review_content" property="reviewContent" />
		<result column="review_score" property="reviewScore" />
		<result column="review_status" property="reviewStatus" />
	</resultMap>
	
	<update id="addCount">
		update board
		set board_count = board_count + 1
		where board_no = #{bId}
	</update>
	
	<select id="selectBoard" resultMap="BoardResultSet">
		select *
		from board
			join users using(users_no)
		where board_status = 'Y' and board_no = #{bId}	
	</select>
	
	
	<insert id="insertReply">
		insert into review
		values(#{productNo}, -1, seq_review_no.nextval, null, #{reviewContent}, 0, default, sysdate, #{reviewWriter})
		
	</insert>

	<select id="selectReply" resultMap="BoardResultSet">
		select *
		from review
			left join users on(review_writer = users_id)
		where product_no = #{bId} and review_status = 'Y'
		order by review_date
	</select>
	
	<update id="replyDelete">
		update review
		set review_status = 'N'
		where review_writer = #{reviewWriter}
			and review_no = #{reviewNo}	
			and product_no = #{productNo}	
			and order_no = -1
	</update>
	
	<update id="reReply">
		update review
		set review_content = #{reviewContent}
		where review_writer = #{reviewWriter}
			and review_no = #{reviewNo}
			and product_no = #{productNo}
			and review_status = 'Y'
			and order_no = -1
	</update>
	
	<insert id="freeBoardWriting">
		insert into board
		values (seq_freeboard_no.nextval, #{usersNo}, #{boardTitle}, #{boardContent}, sysdate, 'Y', default, default)
	</insert>
	
	<select id="firstSelecteBoard" resultMap="BoardResultSet">
		select board_no, nickname
	    from (select * 
	        from board
	        order by board_date desc)
	            join users using(users_no)
	    where nickname = #{login} and rownum = 1
	    order by board_no desc
	</select>
	
	<select id="getCategoryFreeCount" resultType="_int">
		select count(*)
		from board
			join users using(users_no)
		where board_status = 'Y' 
		<if test="category == 'bId'">
			  and board_no like '%'|| #{search}||'%'
		</if>
		<if test="category == 'writer'">
			  and nickname like '%'|| #{search}||'%'
		</if>
		<if test="category == 'title'">
			  and board_title like '%'|| #{search} ||'%'
		</if>
		<if test="category == 'content'">
			  and board_content like '%'|| #{search}||'%'
		</if>
	</select>
	
	<select id="freeBList" resultMap="BoardResultSet">
		select *
		from board
			join users using(users_no)
		where board_status = 'Y' 
		<if test="category == 'bId'">
			  and board_no like '%'|| #{search}||'%'
		</if>
		<if test="category == 'writer'">
			  and nickname like '%'|| #{search}||'%'
		</if>
		<if test="category == 'title'">
			  and board_title like '%'|| #{search} ||'%'
		</if>
		<if test="category == 'content'">
			  and board_content like '%'|| #{search}||'%'
		</if>
		order by board_no desc
	</select>
	
	<select id="reWrieteBoardInfo" resultMap="BoardResultSet">
		select *
		from board
			join users using(users_no)
		where nickname = #{nickName} and board_no = #{boardNo}
	</select>
	
	
	<update id="reWriteBoard">
		update board
		set board_content = #{boardContent},
			board_title = #{boardTitle},
			board_date = sysdate,
			board_type = 1
		where users_no = #{usersNo} and board_no = ${boardNo} and board_status = 'Y'	
	</update>
	
	<update id="deleteBoard">
		update board
		set board_status = 'N'
		where board_no = #{boardNo} and users_no = #{usersNo}
	</update>
	
	<update id="deleteReply">
		update review
		set review_status = 'N'
		where product_no = #{boardNo} and review_writer = #{reviewWriter}
	</update>
	
	<select id="preDetailBoard" resultMap="BoardResultSet">
	<![CDATA[
		select *
		from board
			join users using(users_no)
		where board_status = 'Y' and board_no < #{boardNo} and rownum=1
		order by board_no desc
	]]>
	</select>
	<select id="nextDetailBoard" resultMap="BoardResultSet">
	<![CDATA[
		select *
		from board
			join users using(users_no)
		where board_status = 'Y' and board_no > #{boardNo} and rownum=1
		order by board_no desc
	]]>
	</select>
	
</mapper>