<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="customerMapper">
	<select id="getListCount" resultType="_int">
		select count(*)
		from faq
		where faq_status= 'Y' 
			and faq_type = #{faqType} or users_no = #{usersNo}
	</select>
	
	<select id="nBoardList" resultMap="CustomerResultSet">
		select *
		from faq
		where faq_status = 'Y'
			and faq_type = #{faqType} or users_no = #{usersNo}
		order by faq_no
	</select>
<!-- 	<select id="fBoardList" resultMap="CustomerResultSet"> -->
<!-- 		select * -->
<!-- 		from faq -->
<!-- 		where faq_status = 'Y' -->
<!-- 			and faq_type = #{faqType} -->
<!-- 		order by faq_no -->
<!-- 	</select> -->
<!-- 	<select id="pBoardList" resultMap="CustomerResultSet"> -->
<!-- 		select * -->
<!-- 		from faq -->
<!-- 		where faq_status = 'Y' -->
<!-- 			and faq_type = #{faqType} and users_no = #{usersNo} -->
<!-- 		order by faq_no -->
<!-- 	</select> -->

	<resultMap type="Customer" id="CustomerResultSet">
		<id column="FAQ_NO" property="faqNo"/>
		<result column="USERS_NO" property="usersNo"/>
		<result column="FAQ_TITLE" property="faqTitle"/>
		<result column="FAQ_CONTENT" property="faqContent"/>
		<result column="FAQ_DATE" property="faqDate"/>
		<result column="FAQ_STATUS" property="faqStatus"/>
		<result column="FAQ_TYPE" property="faqType"/>
	</resultMap>

</mapper>