<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="customerMapper">
	<select id="getNListCount" resultType="_int">
		select count(*)
		from faq
		where faq_status= 'Y' and faq_type in(-1,null) 
	</select>
	
<!-- 	<select id="getFListCount" resultType="_int"> -->
<!-- 		select count(*) -->
<!-- 		from faq -->
<!-- 		where faq_status= 'Y' and faq_type = 2 -->
<!-- 	</select> -->
	
	<select id="getPListCount" resultType="_int">
		select count(*)
		from qna
		where qna_status = 'Y' and users_no = #{usersNo} 
	</select>
	
	<select id="nBoardList" resultMap="CustomerResultSet">
		select faq_no, users_no, faq_title, faq_content, faq_date, faq_status, faq_type
		from faq
		where faq_status = 'Y' and faq_type in (-1,null)  
		order by faq_no
	</select>
<!-- 	<select id="fBoardList" resultMap="CustomerResultSet"> -->
<!-- 		select * -->
<!-- 		from faq -->
<!-- 		where faq_status = 'Y' and faq_type = 2   -->
<!-- 		order by faq_no -->
<!-- 	</select> -->
	<select id="pBoardList" resultMap="QnaResultSet">
		select *
		from qna
		where qna_status = 'Y' and users_no = #{usersNo} 
		order by qna_no
	</select>
	
	<select id="qBoardList" resultMap="QnaResultSet">
		select *
		from qna 
		where qna_status = 'Y' and users_no = #{usersNo}
		order by qna_no
		
	</select>
	
	<resultMap type="Customer" id="CustomerResultSet">
		<id column="FAQ_NO" property="faqNo"/>
		<result column="USERS_NO" property="usersNo"/>
		<result column="FAQ_TITLE" property="faqTitle"/>
		<result column="FAQ_CONTENT" property="faqContent"/>
		<result column="FAQ_DATE" property="faqDate"/>
		<result column="FAQ_STATUS" property="faqStatus"/>
		<result column="FAQ_TYPE" property="faqType"/>
	</resultMap>
	
	<resultMap type="Qna" id="QnaResultSet">
		<id column="QNA_NO" property="qnaNo"/>
		<result column="USERS_NO" property="usersNo"/>
		<result column="QNA_DATE" property="qnaDate"/>
		<result column="QNA_TITLE" property="qnaTitle"/>
		<result column="QNA_CONTENT" property="qnaContent"/>
		<result column="ADMIN_NO" property="adminNo"/>
		<result column="ANSWER_DATE" property="answerDate"/>
		<result column="ANSWER_CONTENT" property="answerContent"/>
		<result column="QNA_STATUS" property="qnaStatus"/>
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="ORDER_NO" property="orderNo"/>
		<result column="QNA_TYPE" property="qnaType"/>
	</resultMap>
	
	<select id="getCategoryFListCount" resultType="_int">
		select count(*)
		from faq
		where faq_status = 'Y' and faq_type in (0,1,2,3,4)  
		<if test="category == 'user'">
			  and (faq_title like '%회원%')
		</if>
		<if test="category == 'delivery'">
			  and (faq_title like '%배송%')
			  
		</if>
		<if test="category == 'pay'">
			  and (faq_title like '%결제%') 
		</if>
		<if test="category == 'etc'">
			  and (faq_title like '%기타%')
		</if>
		<if test="category == 'all'">
			  and (faq_title like '%')
		</if>
		<if test="category == 'user' and search != ''">
			  and (faq_title like '%회원%'
			  and faq_title like '%' || #{search} || '%')
		</if>
		<if test="category == 'delivery' and search != ''">
			  and (faq_title like '%배송%'
			  and faq_title like '%' || #{search} || '%')
		</if>
		<if test="category == 'pay' and search != ''">
			  and (faq_title like '%결제%' 
			  and faq_title like '%' || #{search} || '%')
		</if>
		<if test="category == 'product' and search != ''">
			  and (faq_title like '%상품%' 
			  and faq_title like '%' || #{search} || '%')
		</if>
		<if test="category == 'etc' and search != ''">
			  and (faq_title like '%기타%'
			  and faq_title like '%' || #{search} || '%')
		</if>
		<if test="category == 'all' and search != ''">
			  and (faq_title like '%'
			  and faq_title like '%' || #{search} || '%')
		</if>
	</select>
	
	<select id="fBoardList" resultMap="CustomerResultSet">
		select *
		from faq
		where faq_status = 'Y' and faq_type  in (0,1,2,3,4) 
		<if test="category == 'user'">
			  and (faq_title like '%회원%')
		</if>
		<if test="category == 'delivery'">
			  and (faq_title like '%배송%')
		</if>
		<if test="category == 'pay'">
			  and (faq_title like '%결제%') 
		</if>
		<if test="category == 'etc'">
			  and (faq_title like '%기타%')
		</if>
		<if test="category == 'all'">
			  and (faq_title like '%')
		</if>
		<if test="category == 'user' and search != ''">
			  and (faq_title like '%회원%'
			  and faq_title like '%' || #{search} || '%')
		</if>
		<if test="category == 'delivery' and search != ''">
			  and (faq_title like '%배송%'
			  and faq_title like '%' || #{search} || '%')
		</if>
		<if test="category == 'pay' and search != ''">
			  and (faq_title like '%결제%' 
			  and faq_title like '%' || #{search} || '%')
		</if>
		<if test="category == 'product' and search != ''">
			  and (faq_title like '%상품%' 
			  and faq_title like '%' || #{search} || '%')
		</if>
		<if test="category == 'etc' and search != ''">
			  and (faq_title like '%기타%'
			  and faq_title like '%' || #{search} || '%')
		</if>
		<if test="category == 'all' and search != ''">
			  and (faq_title like '%'
			  and faq_title like '%' || #{search} || '%')
		</if>
		order by faq_no
	</select>

	<insert id="qnaInsert">
		insert into qna (qna_no, users_no, qna_date, qna_title, qna_content, answer_date, answer_content, qna_status, qna_type, order_no)
	    values (seq_qna_no.nextval, #{usersNo}, sysdate, #{qnaTitle}, #{qnaContent}, default, default, default, #{qnaType}, default)
	</insert>
	
	<insert id="qnaProduct">
		insert into qna (qna_no, users_no, qna_date, qna_title, qna_content, answer_date, answer_content, qna_status, qna_type, order_no)
	    values (seq_qna_no.nextval, #{usersNo}, sysdate, #{qnaTitle}, #{qnaContent}, default, default, default, 1, #{orderNo})
	</insert>
	
	
	<select id="selectQnaProduct" resultMap="OrdersResultSet">
		select *
		from orders
		where users_no = #{usersNo} 
	</select>
	
	<resultMap type="Orders" id="OrdersResultSet">
		<id column="ORDER_NO" property="orderNo"/>
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="USERS_NO" property="usersNo"/>
		<result column="PRODUCT_TYPE" property="productType"/>
		<result column="ORDER_COUNT" property="orderCount"/>
		<result column="ORDER_TOTAL_PRICE" property="totalPrice"/>
		<result column="ORDER_DATE" property="orderDate"/>
		<result column="ORDER_STATUS" property="orderStatus"/>
		<result column="ORDER_ADDRESS" property="orderAddress"/>
		<result column="ORDER_DELIVERY_DATE" property="orderDeliveryDate"/>
		<result column="ORDER_STOCK" property="orderStock"/>
		<result column="ORDER_DELIVERY_COMMENT" property="orderDeliveryComment"/>
		<result column="ORDER_INFO" property="orderInfo"/>
		<result column="SHIP_PRICE" property="shipPrice"/>
		<result column="OPTIONS" property="options"/>
		<result column="QNA_TYPE" property="qnaType"/>
   </resultMap>
	
	<select id="qnaType" resultMap="QnaResultSet">
		select *
		from qna 
		where users_no = #{usersNo}
			and order_no = #{orderNo}
	</select>	

</mapper>