<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="marketMapper"> 
	<update id="attendanceCheck">
		update users
		set attendance_date = #{attendanceDateInt}
	</update>
	
	<update id="checkDay">
		update users
		set check_day = #{checkDay}
	</update>
	
	
	
	
	
</mapper>