<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="marketMapper">
	<update id="attendanceCheck">
		update users
		set attendance_date = #{attendanceDate}
		where users_id = #{uId}
	</update>
	
	<update id="aDateCheck">
		update users
		set check_day = (select count(dateStr)
		                from attendance
		                where users_id = #{u.usersId})
		where users_id = #{u.usersId}
	</update>
	
	
	<select id="atTodayChecked" resultType="_int">
		 select count(*)
		 from attendance
		 where users_id = #{usersId}
		 	   and dateStr = checked
	</select>
	
	
	<resultMap type="Users" id="UsersResultSet">
		<id column="USERS_NO" property="usersNo"/>
		<result column="USERS_ID" property="usersId"/>
		<result column="USERS_PW" property="usersPw"/>
		<result column="USERS_NAME" property="usersName"/>
		<result column="NICKNAME" property="nickname"/>
		<result column="EMAIL" property="email"/>
		<result column="PHONE" property="phone"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="EXIT_DATE" property="exitDate"/>
		<result column="STATUS" property="status"/>
		<result column="CHECK_DAY" property="checkDay"/>
		<result column="POINT" property="point"/>
		<result column="IS_ADMIN" property="isAdmin"/>
		<result column="ATTENDANCE_DATE" property="attendanceDate"/>
		<result column="ATTENDANCE_DAY" property="attendanceDay"/>
	</resultMap>
	
	<insert id="atInsert">
	    insert into attendance (USERS_ID, DATE1, DATESTR, CHECKED, TITLE)
	    values (#{u.usersId}, #{at.date}, #{at.dateStr}, to_char(sysdate, 'YYYY-MM-DD'), #{at.title})
	</insert>
	
	
	<insert id="insertShipping">
  		insert into shipping_address (USERS_NO, RECIPIENT, ADDRESS, HOME_PHONE, PHONE, SHIPPING_NO, SHIPPING_NAME)
  		values (#{usersNo}, #{recipient}, #{address}, #{homePhone}, #{phone}, SEQ_SHIPPING_ADDRESS.nextval, #{shippingName})
	</insert>
	
	<insert id="insertCart">
		INSERT INTO CART
		VALUES (SEQ_CART_NO.NEXTVAL, ${1}, #{productNo}, #{productOption}, #{cartCount} )
	</insert>
	
	<select id="allAt" resultMap="AttendanceResultSet">
		select
		    *
		from
		    attendance
		where
		    users_id = #{usersId}
	</select>
	
	<resultMap type="Attendance" id="AttendanceResultSet">
		<id column="USERS_ID" property="usersId"/>
		<result column="DATE1" property="date"/>
		<result column="DATESTR" property="dateStr"/>
		<result column="CHECKED" property="checked"/>
		<result column="TITLE" property="title"/>
		<result column="POINT" property="point"/>
	</resultMap>
	
	<update id="gettedPoint">
		update users
		set point = #{u.point} + 10
		where users_id = #{u.usersId}
	</update>
	
<!-- 	<select id="selectShipping" resultMap="shipAddress"> -->
<!-- 		select * -->
<!-- 		from shipping_address -->
<!-- 		where users_no = #{usersNo} -->
<!-- 	</select> -->
	
<!-- 	<resultMap type="ShippingAddress" id="shipAddress"> -->
<!-- 		<result column="USERS_NO" property="usersNo"/> -->
<!-- 		<result column="RECIPIENT" property="recipient"/> -->
<!-- 		<result column="ADDRESS" property="address"/> -->
<!-- 		<result column="HOME_PHONE" property="homePhone"/> -->
<!-- 		<result column="PHONE" property="phone"/> -->
<!-- 		<result column="SHIPPING_NO" property="shippingNo"/> -->
<!-- 		<result column="SHIPPING_NAME" property="shippingName"/> -->
		
<!-- 	</resultMap> -->
	
	<select id="selectShipping" resultMap="shipAddress">
		select *
		from shipping_address
		where users_no = #{usersNo}
	</select>
	
	<resultMap type="ShippingAddress" id="shipAddress">
		<result column="USERS_NO" property="usersNo"/>
		<result column="RECIPIENT" property="recipient"/>
		<result column="ADDRESS" property="address"/>
		<result column="HOME_PHONE" property="homePhone"/>
		<result column="PHONE" property="phone"/>
		<result column="SHIPPING_NO" property="shippingNo"/>
		<result column="SHIPPING_NAME" property="shippingName"/>
	</resultMap>
	
	<select id="selectCartList" resultMap="cartList">
		select *
		from cart
		left join product using(product_no)
		where cart.users_no = #{usersNo} and product.PRODUCT_STATUS = 'Y'
	</select>
	
	<resultMap type="Cart" id="cartList">
		<id column="CART_NO" property="cartNo"/>
		<result column="USERS_NO" property="usersNo"/>
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="PRODUCT_OPTION" property="productOption"/>
		<result column="CART_COUNT" property="cartCount"/>
	</resultMap>
	
	<resultMap type="Options" id="optionsList">
		<id column="OPTION_NO" property="optionNo"/>
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="OPTION_NAME" property="optionName"/>
		<result column="OPTION_VALUE" property="optionValue"/>
	</resultMap>
	
	<resultMap type="MarketProduct" id="productList">
		<id column="PRODUCT_NO" property="productNo"/>
		<result column="PRODUCT_TYPE" property="productType"/>
		<result column="PRODUCT_PRICE" property="productPrice"/>
		<result column="PRODUCT_OPTION" property="productOption"/>
		<result column="PRODUCT_STOCK" property="productStock"/>
		<result column="PRODUCT_CREATE_DATE" property="productCreateDate"/>
		<result column="PRODUCT_MODIFY_DATE" property="productModifyDate"/>
		<result column="PRODUCT_SALE" property="productSale"/>
		<result column="PRODUCT_COUNT" property="productCount"/>
		<result column="PRODUCT_STATUS" property="productStatus"/>
	</resultMap>
	
	<resultMap type="Food" id="foodInfo">
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="FOOD_NAME" property="foodName"/>
		<result column="FOOD_KIND" property="foodKind"/>
		<result column="FOOD_TYPE" property="foodType"/>
	</resultMap>
	
	<resultMap type="Tool" id="toolInfo">
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="TOOL_NAME" property="toolName"/>
		<result column="TOOL_TYPE" property="toolType"/>
		<result column="TOOL_CONTENT" property="toolContent"/>
	</resultMap>
	
	<resultMap type="Ingredient" id="ingredientInfo">
		<result column="INGREDIENT_NO" property="ingredientNo"/>
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="INGREDIENT_NAME" property="ingredientName"/>
		<result column="INGREDIENT_TYPE" property="ingredientType"/>
		<result column="INGREDIENT_STATUS" property="ingredientStatus"/>
	</resultMap>
	
	<select id="selectFood" resultMap="foodInfo">
		select * from food where product_no = #{productNo}
	</select>
	
	<select id="selectProductInfo" resultMap="productList">
		select * from product where product_no = #{productNo}
	</select>
	
	<select id="selectTool" resultMap="toolInfo">
		select * from tool where product_no = #{productNo}
	</select>
	
	<select id="selectIngrdient" resultMap="ingredientInfo">
		select * from ingredient where product_no = #{productNo}
	</select>
	
	<delete id="delBasket">
		delete from cart where product_no = #{productNo}
	</delete>
	
	<update id="plusCount">
		update cart set cart_count = cart_count + 1 
		where product_no = #{productNo}
	</update>
	
	<select id="plusResultCount" resultType="_int">
		select cart_count from cart where product_no = #{productNo}
	</select>
	
	<update id="minusCount">
		update cart set cart_count = cart_count - 1 
		where product_no = #{productNo}
	</update>
	
	<select id="checkCartList" resultMap="cartList">
		select * from cart where users_no = #{usersNo} and product_no = #{productNo}
	</select>
	
	<select id="selectOptions" resultMap="optionsList">
		select * from options where product_no = #{productNo}
	</select>
	
	
	
</mapper>