<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="menuMapper"> 
	
	<select id="getListCount" resultType="_int">
		select count(*)
		from menu
	</select>
	
	<select id="selectMenuList" resultMap="menuResultSet">
		select *
		from menu
			 left join product using(product_no)
		order by product_no desc
	</select>
	
	<select id="selectMenuImage" resultMap="imageResultSet">
		select *
		from image
		where image_type = 4 and image_level = 0
	</select>
	
	<select id="menuDetail" resultMap="menuResultSet">
		select *
		from menu
			 left join product using(product_no)
			 left join healther using(users_no)
		where product_no=#{mNO}
	</select>
	
	<select id="menuDetailThum" resultMap="imageResultSet">
		select *
		from image
		where image_divide_no=#{mNo} and image_type=4
	</select>
	
	<select id="menuDetailMenu" resultMap="menuListResultSet">
		select *
		from menu_list ml
			 left join food f on(ml.food_product_no = f.product_no)
		where ml.product_no=#{mNO}
		order by menu_list_no asc
	</select>
	
	<select id="menuDetailImage" resultMap="imageResultSet">
		select *
		from image
		where image_type=3 and image_level=0
	</select>
	
	<select id="searchMenu" resultMap="menuResultSet">
		select *
		from menu
		where menu_name like '%${word}%'
	</select>
	
	<select id="menuCategory" resultMap="menuResultSet">
		select *
		from menu
			 left join image on (product_no = image_divide_no)
		where menu_kind=#{cate}
	</select>
	
	<select id="selectUsersNo" resultType="_int">
		select users_no
		from menu
		     left join product using(product_no)
		where product_no = #{mNo}
	</select>
	
	<select id="healtherInfo" resultMap="productResultSet">
		select *
		from product
			 left join healther using(users_no)
   			 left join image on(product_no = image_divide_no)
   			 left join menu using(product_no)
		where users_no=#{usersNo} and product_type=2
	</select>
	
	<select id="selectBookmark" resultType="_int"> <!-- 식단에대한 북마크 -->
		select count(*)
		from bookmark
		where users_no = #{usersNo} and division_no = #{productNo} and number_type = 2
	</select>
	
	<insert id="insertBookmark">
		insert into bookmark
		values(SEQ_BOOKMARK_NO.nextval, #{usersNo}, #{divisionNo}, 2)
	</insert>
	
	<delete id="deleteBookmark">
		delete from bookmark
		where users_no = #{usersNo} and division_no = #{divisionNo} and number_type = 2
	</delete>
	
	<select id="menuScore" resultType="map">
		select menu.product_no, menu_name, menu_kind, product.users_no, COUNT(*) AS count
		from menu
		     left join likes on(product_No = division_no)
		     join product on(menu.product_no = product.product_no)
		group by menu.product_no, menu_name, menu_kind, product.users_no
		order by count desc
	</select>
	
	<select id="likeList" resultType="map">
		select menu.product_no, COUNT(*) AS count
		from menu
		     join likes on(product_No = division_no)
		group by menu.product_no
		order by count desc
	</select>
	
	<select id="loginUserLikeList" resultMap="likeResultSet">
		select * from likes
		where users_no = #{ usersNo }
	</select>
	
	<select id="getReviewCount" resultType="_int">
		select count(*)
		from review
		where product_no = #{mNo} and review_status = 'Y' and order_no > 0
	</select>
	
	<select id="selectReviewList" resultMap="reviewResultSet">
		select *
		from review
		where product_no = #{mNo} and review_status = 'Y' and order_no > 0
		order by review_no desc
	</select>
	
	<select id="myReview" resultType="_int">
		select count(*)
		from review
		where product_no = #{productNo} and review_writer = #{reviewWriter} and review_status = 'Y' and order_no > 0
	</select>
	
	<select id="selectMyOrders" resultMap="ordersResultSet">
		select *
		from orders
		where product_no = #{productNo} and users_no = #{usersNo}
	</select>
	
	<insert id="insertReview">
		insert into review
		values(#{productNo}, #{orderNo}, seq_review_no.nextval, default, #{reviewContent}, #{reviewScore}, default, sysdate, #{reviewWriter})
	</insert>
	
	<update id="updateReview">
		update review
		set review_content = #{reviewContent}, review_score = #{reviewScore}
		where review_no = #{reviewNo}
	</update>
	
	<select id="notReview" resultType="map">
		select *
		from orders o
		     left join review using(order_no)
		where users_no = #{usersNo} and o.product_no = #{productNo} and review_content is null
	</select>
	
	<select id="selectMyReviewList" resultMap="reviewResultSet">
		select *
		from review
		where product_no = #{productNo} and review_writer = #{reviewWriter} and review_status = 'Y' and order_no > 0
		order by review_no desc
	</select>
	
	<select id="getQnaCount" resultType="_int">
		select count(*)
		from qna
		where qna_status='Y' and product_no=#{mNo}
	</select>
	
	<select id="selectQnaList" resultMap="qnaResultSet">
		select *
		from qna
			 left join users using(users_no)
		where qna_status='Y' and product_no=#{mNo} 
	</select>
	
	<insert id="insertQna">
		insert into qna values(seq_qna_no.nextval, #{usersNo}, sysdate, #{qnaTitle}, #{qnaContent}, null, null, null, default, #{qnaType}, null, #{productNo})
	</insert>
	
	<select id="selectProfile" resultMap="imageResultSet">
		select *
		from image
		where image_type = 1 and image_level = 0 and image_divide_no = #{usersNo}
	</select>
	
	<select id="getCateListCount" resultType="_int">
		select count(*)
		from menu
		where menu_kind = #{cate}
	</select>
	
	<select id="getSearchListCount" resultType="_int">
		select count(*)
		from menu
		where menu_name like '%${word}%'
	</select>
	
	<resultMap type="Menu" id="menuResultSet">
		<id column="product_no" property="foodProductNo"/>
		<result column="MENU_NAME" property="menuName"/>
		<result column="MENU_TYPE" property="menuType"/>
		<result column="MENU_CONTENT" property="menuContent"/>
		<result column="MENU_KIND" property="menuKind"/>
		<result column="MENU_NO" property="menuNo"/>
		<result column="product_price" property="productPrice"/>
		<result column="product_sale" property="productSale"/>
		<result column="IMAGE_RENAMENAME" property="imageRenameName"/>
		<result column="name" property="name"/>
		<result column="title" property="title"/>
		<result column="career" property="career"/>
	</resultMap>
	
	<resultMap type="Image" id="imageResultSet">
		<id column="IMAGE_NO" property="imageNo"/>
		<result column="IMAGE_DIVIDE_NO" property="imageDivideNo"/>
		<result column="IMAGE_TYPE" property="imageType"/>
		<result column="IMAGE_ORIGINALNAME" property="imageOriginalName"/>
		<result column="IMAGE_RENAMENAME" property="imageRenameName"/>
		<result column="IMAGE_PATH" property="imagePath"/>
		<result column="IMAGE_LEVEL" property="imageLevel"/>
	</resultMap>
	
	<resultMap type="MenuList" id="menuListResultSet">
		<id column="menu_list_no" property="menuListNo"/>
		<result column="product_no" property="productNo"/>
		<result column="food_product_no" property="foodProductNo"/>
		<result column="food_Name" property="foodName"/>
		<result column="food_Content" property="foodContent"/>
	</resultMap>
	
	<resultMap type="CommonProduct" id="productResultSet">
		<id column="PRODUCT_NO" property="productNo"/>
		<result column="PRODUCT_TYPE" property="productType"/>
		<result column="PRODUCT_PRICE" property="productPrice"/>
		<result column="PRODUCT_OPTION" property="productOption"/>
		<result column="PRODUCT_STOCK" property="productStock"/>
		<result column="PRODUCT_CREATE_DATE" property="productCreateDate"/>
		<result column="PRODUCT_MODIFY_DATE" property="productModifyDate"/>
		<result column="PRODUCT_SALE" property="productSale"/>
		<result column="PRODUCT_COUNT" property="productCount"/>
		<result column="PRODUCT_STATUS" property="productStatus"/>
		<result column="USERS_NO" property="usersNo"/>
		<result column="IMAGE_RENAMENAME" property="imageRenameName"/>
		<result column="MENU_NAME" property="menuName"/>
		<result column="MENU_KIND" property="menuKind"/>
	</resultMap>
	
	<resultMap type="Likes" id="likeResultSet">
		<id column="LIKE_NO" property="likeNo"/>
		<result column="USERS_NO" property="usersNo"/>
		<result column="DIVISION_NO" property="divisionNo"/>
		<result column="NUMBER_TYPE" property="numberType"/>
	</resultMap>
	
	<resultMap type="Review" id="reviewResultSet">
		<id column="product_no" property="productNo"/>
		<result column="ORDER_NO" property="orderNo"/>
		<result column="REVIEW_NO" property="reviewNo"/>
		<result column="REVIEW_TITLE" property="reviewTitle"/>
		<result column="REVIEW_CONTENT" property="reviewContent"/>
		<result column="REVIEW_SCORE" property="reviewScore"/>
		<result column="REVIEW_STATUS" property="reviewStatus"/>
		<result column="REVIEW_DATE" property="reviewDate"/>
		<result column="REVIEW_WRITER" property="reviewWriter"/>
	</resultMap>
	
	<resultMap type="Orders" id="ordersResultSet">
    	<id column="ORDER_NO" property="orderNo"/>
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="USERS_NO" property="usersNo"/>
		<result column="USERS_ID" property="usersId"/>
		<result column="PRODUCT_TYPE" property="productType"/>
		<result column="ORDER_COUNT" property="orderCount"/>
		<result column="ORDER_TOTAL_PRICE" property="totalPrice"/>
		<result column="ORDER_DATE" property="orderDate"/>
		<result column="ORDER_STATUS" property="orderStatus"/>
		<result column="ORDER_ADDRESS" property="orderAddress"/>
		<result column="ORDER_DELIVERY_DATE" property="orderDeliveryDate"/>
		<result column="ORDER_STOCK" property="orderStock"/>
		<result column="ORDER_DELIVERY_COMMENT" property="orderDeliveryComment"/>
		<result column="ORDER_INFO" property="orderInfo"/>
		<result column="SHIP_PRICE" property="shipPrice"/>
		<result column="OPTIONS" property="options"/>
   </resultMap>
   
   <resultMap type="QA" id="qnaResultSet">
		<id column="QNA_NO" property="qnaNo"/>
		<result column="USERS_NO" property="usersNo"/>
		<result column="QNA_DATE" property="qnaDate"/>
		<result column="QNA_TITLE" property="qnaTitle"/>
		<result column="QNA_CONTENT" property="qnaContent"/>
		<result column="ADMIN_NO" property="adminNo"/>
		<result column="ANSWER_DATE" property="answerDate"/>
		<result column="ANSWER_CONTENT" property="answerContent"/>
		<result column="QNA_STATUS" property="qnaStatus"/>
		<result column="QNA_TYPE" property="qnaType"/>
		<result column="NICKNAME" property="nickName"/>
		<result column="PRODUCT_NO" property="productNo"/>
	</resultMap>
</mapper>