<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="recipeMapper">

	<insert id="insertRecipe">
		insert into recipe values(seq_recipe_no.nextval, #{usersNo}, #{recipeName}, #{categoryIngredient},
								  #{categorySituation}, #{categoryType}, #{recipeDifficulty}, #{recipeTime},
								  #{recipeContent}, default, default, default, default)
	</insert>
	
	<insert id="insertOrder">
		insert all
		<foreach collection="list" item="item">
			into recipe_order values(new_order_no,
			<if test="item.foodNo == 0">
			seq_recipe_no.currval,
			</if>
			<if test="item.foodNo != 0">
			#{item.foodNo},
			</if>
			#{item.recipeOrder}, default, #{item.recipeProcedure}, #{item.recipeOriginalName}, #{item.recipeRenameName}, #{item.recipeImagePath}) 
		</foreach>
		select * from dual
	</insert>
	
	<insert id="insertAttm">
		insert all
		<foreach collection="list" item="item"> 
			into image values(new_image_no,
			<if test="item.imageDivideNo == 0">
			SEQ_RECIPE_NO.currval,
			</if>
			<if test="item.imageDivideNo != 0">
			#{item.imageDivideNo},
			</if>
			 2, #{item.imageOriginalName}, #{item.imageRenameName}, #{item.imagePath}, ${item.imageLevel})
		</foreach>
		select * from dual
	</insert>
	
	<select id="getListCount" resultType="_int">
		select count(*)
		from recipe
	</select>
	
	<select id="selectRecipeList" resultMap="recipeResultSet">
		select *
		from recipe
			 join users using(users_no)
		where recipe_status = 'Y'
		order by food_no desc
	</select>
	
	<select id="selectRecipeImageList" resultMap="imageResultSet">
		select *
		from image
		where image_type = 2 and image_level = 0
		order by image_no desc
	</select>
	
	<select id="recipeDetail" resultMap="recipeResultSet">
		select *
		from recipe
			 join users using(users_no)
		where food_no = #{foodNo} and recipe_status='Y'
	</select>
	
	<update id="addCount">
		update recipe set recipe_count = recipe_count + 1
		where food_no=#{foodNo}
	</update>
	
	<select id="recipeDetailThum" resultMap="imageResultSet">
		select *
		from image
		where image_Divide_No = #{foodNo} and image_Level=0
	</select>
	
	<select id="recipeDetailOrder" resultMap="imageResultSet">
		select *
		from image
		where image_Divide_No = #{foodNo} and image_Level=1
		order by image_no asc
	</select>
	
	<select id="recipeDetailComp" resultMap="imageResultSet">
		select *
		from image
		where image_Divide_No = #{foodNo} and image_Level=2
		order by image_no desc	
	</select>
	
	<select id="recipeDetailOrderText" resultMap="orderResultSet">
		select *
		from recipe_order
		where food_no=#{foodNo}
		order by recipe_procedure asc
	</select>
	
	<delete id="deleteRecipe">
		delete from recipe
		where food_no=#{foodNo}
	</delete>
	
	<delete id="deleteOrder">
		delete from recipe_order
		where food_no=#{foodNo}
	</delete>
	
	<delete id="deleteImage">
		delete from image
		where image_type=2 and image_divide_no=#{foodNo}
	</delete>
	
	<delete id="deleteThumImg">
		delete from image
		where image_rename=#{thumDelRename}
	</delete>
	
	<update id="updateRecipe">
		update recipe set recipe_name=#{recipeName}, category_ingredient=#{categoryIngredient}, CATEGORY_SITUATION=#{categorySituation},
						  CATEGORY_TYPE=#{categoryType}, RECIPE_DIFFICULTY=#{recipeDifficulty}, RECIPE_TIME=#{recipeTime},
						  RECIPE_CONTENT=#{recipeContent}, RECIPE_MODIFY_DATE=sysdate
		where food_no=#{foodNo}
	</update>
	
	<delete id="deleteListImg">
		delete from recipe_order
		where RECIPE_RENAMENAME in
		<foreach collection="list" item="item" open="(" separator="," close=")">
		#{item}
		</foreach>
	</delete>
	
	<delete id="deleteComImg">
		delete from image
		where image_renamename in
		<foreach collection="list" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<insert id="insertThum">
		insert into image values(new_image_no, #{imageDivideNo}, 2, #{imageOriginalName}, #{imageRenameName}, #{imagePath}, 0)
	</insert>
	
		
	<resultMap type="Recipe" id="recipeResultSet">
		<id column="food_no" property="foodNo"/>
		<result column="USERS_NO" property="usersNo"/>
		<result column="RECIPE_NAME" property="recipeName"/>
		<result column="CATEGORY_INGREDIENT" property="categoryIngredient"/>
		<result column="CATEGORY_SITUATION" property="categorySituation"/>
		<result column="CATEGORY_TYPE" property="categoryType"/>
		<result column="RECIPE_DIFFICULTY" property="recipeDifficulty"/>
		<result column="RECIPE_TIME" property="recipeTime"/>
		<result column="RECIPE_CONTENT" property="recipeContent"/>
		<result column="RECIPE_COUNT" property="recipeCount"/>
		<result column="RECIPE_CREATE_DATE" property="recipeCreateDate"/>
		<result column="RECIPE_MODIFY_DATE" property="recipeModifyDate"/>
		<result column="RECIPE_STATUS" property="recipeStatus"/>
		<result column="users_id" property="usersId"/>
		<result column="nickname" property="nickName"/>
	</resultMap>
	
	<resultMap type="Image" id="imageResultSet">
		<id column="IMAGE_NO" property="imageNo"/>
		<result column="IMAGE_DIVIDE_NO" property="imageDivideNo"/>
		<result column="IMAGE_TYPE" property="imageType"/>
		<result column="IMAGE_ORIGINALNAME" property="imageOriginalName"/>
		<result column="IMAGE_RENAMENAME" property="imageRenameName"/>
		<result column="IMAGE_PATH" property="imagePath"/>
		<result column="IMAGE_LEVEL" property="imageLevel"/>
	</resultMap>
	
	<resultMap type="RecipeOrder" id="orderResultSet">
		<id column="order_no" property="orderNo"/>
		<result column="food_no" property="foodNo"/>
		<result column="recipe_order" property="recipeOrder"/>
		<result column="order_status" property="orderStatus"/>
		<result column="recipe_procedure" property="recipeProcedure"/>
		<result column="RECIPE_ORIGINALNAME" property="recipeOriginalName"/>
		<result column="RECIPE_RENAMENAME" property="recipeRenameName"/>
		<result column="RECIPE_IMAGEPATH" property="recipeImagePath"/>
	</resultMap>
</mapper>
