<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="usersMapper"> 
	<update id="updatePwd">
		update users
		set users_pw = #{newPw}
		where users_id = #{usersId} and status = 'Y'
	</update>
	
	<update id="updateInfo">
		update users
		set nickname = #{nickName}, email = #{email}, phone = #{phone}
		where users_id = #{usersId} and status = 'Y'
	</update>
	
	<insert id="insertImage">
		insert into image
		values (seq_image_no.nextval, #{imageDivideNo}, #{imageType}, #{imageOriginalName}, #{imageRenameName}, #{imagePath}, 0)
	</insert>
	
	<update id="updateProfile">
		update users
		set users_selfintro = #{usersSelfIntro}
		where users_no = #{usersNo} and status = 'Y'
	</update>
	
	<select id="selectImage" resultMap="imageResultSet">
		select *
		from image
		where IMAGE_DIVIDE_NO = #{usersNo} and IMAGE_TYPE = 1
	</select>
	
	<resultMap type="Image" id="imageResultSet">
		<id column="IMAGE_NO" property="imageNo"/>
		<result column="IMAGE_DIVIDE_NO" property="imageDivideNo"/>
		<result column="IMAGE_TYPE" property="imageType"/>
		<result column="IMAGE_ORIGINALNAME" property="imageOriginalName"/>
		<result column="IMAGE_RENAMENAME" property="imageRenameName"/>
		<result column="IMAGE_PATH" property="imagePath"/>
		<result column="IMAGE_LEVEL" property="imageLevel"/>
	</resultMap>
	
	<delete id="deleteImage">
		delete from image
		where IMAGE_DIVIDE_NO = #{imageDivideNo} and image_type = '1'
	</delete>
	
	<delete id="deleteImagebase">
		delete from image
		where IMAGE_DIVIDE_NO = #{usersNo} and image_type = '1'
	</delete>
	
	<select id="selectInfo" resultMap="usersResultSet">
		select *
		from users
		where users_no = #{usersNo} and status = 'Y'
	</select>
	
	<resultMap type="Users" id="usersResultSet">
		<id column="USERS_NO" property="usersNo"/>
		<result column="USERS_ID" property="usersId"/>
		<result column="USERS_PW" property="usersPw"/>
		<result column="USERS_NAME" property="usersName"/>
		<result column="NICKNAME" property="nickName"/>
		<result column="EMAIL" property="email"/>
		<result column="PHONE" property="phone"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="EXIT_DATE" property="eixtDate"/>
		<result column="STATUS" property="status"/>
		<result column="CHECK_DAY" property="checkDay"/>
		<result column="POINT" property="point"/>
		<result column="IS_ADMIN" property="isAdmin"/>
		<result column="ATTENDANCE_DATE" property="attendanceDate"/>
		<result column="ATTENDANCE_DAY" property="attendanceDay"/>
		<result column="USERS_ADDRESS" property="usersAddress"/>
		<result column="USERS_SELFINTRO" property="usersSelfIntro"/>
	</resultMap>
	
	<update id="deleteInfo">
		update users
		set status = 'N'
		where users_no = #{usersNo} and status = 'Y'
	</update>
	
	<resultMap type="Follow" id="followResultSet">
		<id column="FOLLOW_NO" property="followNo"/>
		<result column="FOLLOWING_USER_NO" property="followingUsersNo"/>
		<result column="FOLLOW_CREATE_DATE" property="followCreateDate"/>
		<result column="USERS_NO" property="usersNo"/>
	</resultMap>
	
	<select id="selectFollowing" resultType="map">
		select follow_no, following_user_no, f.users_no, nickname, image_renamename, social_id, social_profile_img, users_pw
		from follow f
		     join users u on(u.users_no = following_user_no)
		     left join image on(u.users_no = image_divide_no)
		     left join social_login on (u.users_id = social_id)
		where f.users_no = #{usersNo}
	</select>
	
	<select id="selectFollower" resultType="map">
		select follow_no, following_user_no, f.users_no, nickname, image_renamename, social_id, social_profile_img, users_pw
		from follow f
		     join users u on(u.users_no = f.users_no)
		     left join image on(u.users_no = image_divide_no)
		     left join social_login on (u.users_id = social_id)
		where f.following_user_no = #{usersNo}
	</select>
	
	<delete id="deleteFollow">
		delete from follow
		where users_no = #{usersNo} and following_user_no = #{followingNo}
	</delete>
	
	<insert id="insertFollow">
		insert into follow
		values(seq_follow_no.nextval, #{followNo}, default, #{usersNo})
	</insert>
	
	<select id="follow" resultType="_int">
		select count(*)
		from follow
		where following_user_no = #{usersNo}
	</select>
	
	<select id="following" resultType="_int">
		select count(*)
		from follow
		where users_no = #{usersNo}
	</select>
	
</mapper>