<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="usersMapper"> 
	<update id="updatePwd">
		update users
		set users_pw = #{newPw}
		where users_id = #{usersId}
	</update>
	
	<update id="updateInfo">
		update users
		set nickname = #{nickName}, email = #{email}, phone = #{phone}
		where users_id = #{usersId}
	</update>
</mapper>