<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="kh.finalproj.hollosekki.enroll.model.vo.Users" alias="Users"/>
		<typeAlias type="kh.finalproj.hollosekki.common.model.vo.Image" alias="Image"/>
		<typeAlias type="kh.finalproj.hollosekki.common.model.vo.Menu" alias="Menu"/>
		<typeAlias type="kh.finalproj.hollosekki.common.model.vo.Ingredient" alias="Ingredient"/>
		<typeAlias type="kh.finalproj.hollosekki.common.model.vo.FAQ" alias="FAQ"/>
		<typeAlias type="kh.finalproj.hollosekki.market.model.vo.Product" alias="Product"/>
		<typeAlias type="kh.finalproj.hollosekki.market.model.vo.Attendance" alias="Attendance"/>
		<typeAlias type="kh.finalproj.hollosekki.market.model.vo.ShippingAddress" alias="ShippingAddress"/>
		<typeAlias type="kh.finalproj.hollosekki.market.model.vo.Cart" alias="Cart"/>
		<typeAlias type="kh.finalproj.hollosekki.market.model.vo.Product" alias="MarketProduct"/>
		<typeAlias type="kh.finalproj.hollosekki.market.model.vo.Food" alias="Food"/>
		<typeAlias type="kh.finalproj.hollosekki.market.model.vo.Tool" alias="Tool"/>
		<typeAlias type="kh.finalproj.hollosekki.market.model.vo.Options" alias="Options"/>
		<typeAlias type="kh.finalproj.hollosekki.market.model.vo.Products" alias="Products"/>
		<typeAlias type="kh.finalproj.hollosekki.recipe.model.vo.Recipe" alias="Recipe"/>
		<typeAlias type="kh.finalproj.hollosekki.customer.model.vo.Customer" alias="Customer"/>
		<typeAlias type="kh.finalproj.hollosekki.recipe.model.vo.RecipeOrder" alias="RecipeOrder"/>
		<typeAlias type="kh.finalproj.hollosekki.recipe.model.vo.RecipeElement" alias="RecipeElement"/>
		<typeAlias type="kh.finalproj.hollosekki.common.model.vo.Follow" alias="Follow"/>
		<typeAlias type="kh.finalproj.hollosekki.enroll.model.vo.SocialLogin" alias="SocialLogin"/>
		<typeAlias type="kh.finalproj.hollosekki.common.model.vo.BookMark" alias="BookMark"/>
		<typeAlias type="kh.finalproj.hollosekki.common.model.vo.Menu" alias="Menu"/>
		<typeAlias type="kh.finalproj.hollosekki.market.model.vo.Review" alias="Review"/>
		<typeAlias type="kh.finalproj.hollosekki.common.model.vo.Point" alias="Point"/>
		<typeAlias type="kh.finalproj.hollosekki.market.model.vo.Review" alias="Review"/>
		<typeAlias type="kh.finalproj.hollosekki.market.model.vo.QA" alias="QA"/>
		<typeAlias type="kh.finalproj.hollosekki.customer.model.vo.Qna" alias="Qna"/>
		<typeAlias type="kh.finalproj.hollosekki.board.model.vo.Board" alias="Board"/>
		<typeAlias type="kh.finalproj.hollosekki.menu.model.vo.MenuList" alias="MenuList"/>
		<typeAlias type="kh.finalproj.hollosekki.market.model.vo.Orders" alias="Orders"/>
		<typeAlias type="kh.finalproj.hollosekki.admin.model.vo.Sales" alias="Sales"/>
		<typeAlias type="kh.finalproj.hollosekki.admin.model.vo.AdminMain" alias="AdminMain"/>
		<typeAlias type="kh.finalproj.hollosekki.common.model.vo.Likes" alias="Likes"/>
	</typeAliases>
	

	
	<mappers>
		<mapper resource="mappers/admin-mapper.xml"/>
		<mapper resource="mappers/market-mapper.xml"/>
		<mapper resource="mappers/enroll-mapper.xml"/>
		<mapper resource="mappers/users-mapper.xml"/>
		<mapper resource="mappers/recipe-mapper.xml"/>
		<mapper resource="mappers/customer-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/menu-mapper.xml"/>
	</mappers>
	
</configuration>
